<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rakeshpvtltd.vectcomplaintbox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_complaint_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VectComplaintBox">
        <activity
            android:name=".Admin.MainActivityAdmin"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity android:name=".CheckComplaint" />
        <activity android:name=".AdminEmailVerfication" />
        <activity android:name=".AdminForgotPassword" />
        <activity android:name=".AdminPanel" />
        <activity android:name=".AddNewAdmin" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".ParentForgotPassword" />
        <activity android:name=".ParentEmailVarification" />
        <activity android:name=".ParentComplaintConformation" />
        <activity android:name=".ParentComplaintActivity" />
        <activity android:name=".ParentSignUp" />
        <activity android:name=".ParentLogin" />
        <activity android:name=".StudentForgotPassword" />
        <activity android:name=".StudentComplaintConformation" />
        <activity android:name=".StudentComplaintActivity" />
        <activity android:name=".StudentEmailVerification" />
        <activity android:name=".StudentSignUp" />
        <activity android:name=".StudentLogin" />
        <activity android:name=".TeacherForgotPassword" />
        <activity android:name=".TeacherComplaintConformation" />
        <activity android:name=".TeacherComplaintActivity" />
        <activity android:name=".TeacherEmailVerfication" />
        <activity android:name=".TeacherSignUp" />
        <activity android:name=".TeacherLogin" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>